.bundle/
log/*.log
pkg/
test/rails_apps/*/.sass-cache
test/rails_apps/*/db/*.sqlite3
test/rails_apps/*/db/*.sqlite3-journal
test/rails_apps/*/log/*.log
test/rails_apps/*/tmp/
test/rails_apps/*/.sass-cache
*.gem
*.sqlite3
.DS_Store
**/.DS_Store
