name: Tests

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - master
      - updateTesting
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: ['2.7', '3.0', '3.1']
        gemfile:
          - rails_6
          - rails_6_1
          - rails_7
        exclude:
          - ruby: '3.1'
            gemfile: 'rails_6'
          - ruby: '3.1'
            gemfile: 'rails_6_1'
    env:
      BUNDLE_GEMFILE: ${{ github.workspace }}/gemfiles/${{ matrix.gemfile }}.gemfile
      BUNDLE_PATH_RELATIVE_TO_CWD: true

    steps:
      - uses: actions/checkout@master

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler: default
          bundler-cache: true

      - name: Run tests
        env:
          RAILS_ENV: test
        run: |
          bundle exec rake test
