<!DOCTYPE html>
<html>
<head>
  <title>AnyLogin</title>
  <%= stylesheet_link_tag    "any_login/application", media: "all" %>
  <%= javascript_include_tag "any_login/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
